################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClinicManagementSystem
/ClinicManagementSystem.API/appsettings.json
/ClinicManagementSystem.API/bin/Debug/net8.0/appsettings.json
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.API.deps.json
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.API.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.API.exe
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.API.pdb
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.BLL.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.BLL.pdb
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.DAL.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.DAL.pdb
/ClinicManagementSystem.API/obj/Debug/net8.0/refint/ClinicManagementSystem.API.dll
/ClinicManagementSystem.API/obj/Debug/net8.0/ApiEndpoints.json
/ClinicManagementSystem.API/obj/Debug/net8.0/apphost.exe
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.AssemblyInfoInputs.cache
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.AssemblyInfo.cs
/ClinicManagementSystem.BLL/bin/Debug/net8.0/ClinicManagementSystem.BLL.deps.json
/ClinicManagementSystem.BLL/bin/Debug/net8.0/ClinicManagementSystem.BLL.dll
/ClinicManagementSystem.BLL/bin/Debug/net8.0/ClinicManagementSystem.BLL.pdb
/ClinicManagementSystem.BLL/bin/Debug/net8.0/ClinicManagementSystem.DAL.pdb
/ClinicManagementSystem.BLL/bin/Debug/net8.0/ClinicManagementSystem.DAL.dll
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ref/ClinicManagementSystem.BLL.dll
/ClinicManagementSystem.BLL/obj/Debug/net8.0/refint/ClinicManagementSystem.BLL.dll
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.csproj.AssemblyReference.cache
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.assets.cache
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.csproj.CoreCompileInputs.cache
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.dll
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.GeneratedMSBuildEditorConfig.editorconfig
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.pdb
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.sourcelink.json
/ClinicManagementSystem.BLL/obj/ClinicManagementSystem.BLL.csproj.nuget.dgspec.json
/ClinicManagementSystem.BLL/obj/ClinicManagementSystem.BLL.csproj.nuget.g.props
/ClinicManagementSystem.BLL/obj/project.assets.json
/ClinicManagementSystem.BLL/obj/project.nuget.cache
/ClinicManagementSystem.DAL/bin/Debug/net8.0/ClinicManagementSystem.DAL.deps.json
/ClinicManagementSystem.DAL/bin/Debug/net8.0/ClinicManagementSystem.DAL.dll
/ClinicManagementSystem.DAL/bin/Debug/net8.0/ClinicManagementSystem.DAL.pdb
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ref/ClinicManagementSystem.DAL.dll
/ClinicManagementSystem.DAL/obj/Debug/net8.0/refint/ClinicManagementSystem.DAL.dll
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.AssemblyInfoInputs.cache
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.AssemblyInfo.cs
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.assets.cache
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.csproj.AssemblyReference.cache
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.csproj.CoreCompileInputs.cache
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.dll
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.GeneratedMSBuildEditorConfig.editorconfig
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.genruntimeconfig.cache
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.pdb
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.sourcelink.json
/ClinicManagementSystem.DAL/obj/ClinicManagementSystem.DAL.csproj.nuget.dgspec.json
/ClinicManagementSystem.DAL/obj/ClinicManagementSystem.DAL.csproj.nuget.g.props
/ClinicManagementSystem.DAL/obj/project.nuget.cache
/ClinicManagementSystem.DAL/obj/project.assets.json
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.assets.cache
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.csproj.AssemblyReference.cache
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.csproj.CoreCompileInputs.cache
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.dll
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.GeneratedMSBuildEditorConfig.editorconfig
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.genruntimeconfig.cache
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.MvcApplicationPartsAssemblyInfo.cs
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.pdb
/ClinicManagementSystem.API/obj/ClinicManagementSystem.API.csproj.nuget.dgspec.json
/ClinicManagementSystem.API/obj/ClinicManagementSystem.API.csproj.nuget.g.props
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.sourcelink.json
/ClinicManagementSystem.API/obj/project.assets.json
/ClinicManagementSystem.API/obj/project.nuget.cache
/ClinicManagementSystem.API/ClinicManagementSystem.API.csproj.user
/ClinicManagementSystem.API/obj/Debug/net8.0/ref/ClinicManagementSystem.API.dll
/.vs/Clinic-Management-System/v17/.wsuo
/.vs/Clinic-Management-System/v17/DocumentLayout.json
/.vs/ProjectEvaluation/clinicmanagementsystem.metadata.v9.bin
/.vs/ProjectEvaluation/clinicmanagementsystem.projects.v9.bin
/.vs/ProjectEvaluation/clinicmanagementsystem.strings.v9.bin
/ClinicManagementSystem.API/bin/Debug/net8.0/appsettings.Development.json
/ClinicManagementSystem.API/bin/Debug/net8.0/ClinicManagementSystem.API.staticwebassets.endpoints.json
/ClinicManagementSystem.API/obj/Debug/net8.0/EndpointInfo/ClinicManagementSystem.API.json
/ClinicManagementSystem.API/obj/Debug/net8.0/EndpointInfo/ClinicManagementSystem.API.OpenApiFiles.cache
/ClinicManagementSystem.API/obj/Debug/net8.0/staticwebassets/msbuild.build.ClinicManagementSystem.API.props
/ClinicManagementSystem.API/obj/Debug/net8.0/ClinicManagementSystem.API.csproj.FileListAbsolute.txt
/ClinicManagementSystem.API/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/ClinicManagementSystem.API/obj/Debug/net8.0/staticwebassets.build.json
/ClinicManagementSystem.API/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/ClinicManagementSystem.API/obj/Debug/net8.0/staticwebassets.removed.txt
/ClinicManagementSystem.API/appsettings.Development.json
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.AssemblyInfo.cs
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.AssemblyInfoInputs.cache
/ClinicManagementSystem.BLL/obj/Debug/net8.0/ClinicManagementSystem.BLL.csproj.FileListAbsolute.txt
/ClinicManagementSystem.DAL/obj/Debug/net8.0/ClinicManagementSystem.DAL.csproj.FileListAbsolute.txt
/ClinicManagementSystem.API/obj/ClinicManagementSystem.API.csproj.nuget.g.targets
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.AspNetCore.Connections.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Connections.Client.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.AspNetCore.Http.Connections.Common.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.AspNetCore.SignalR.Client.Core.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.AspNetCore.SignalR.Client.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/runtimes/browser/lib/net8.0/System.Text.Encodings.Web.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.AspNetCore.SignalR.Common.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.AspNetCore.SignalR.Protocols.Json.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
*.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/ClinicManagementSystem.API/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/ClinicManagementSystem.API/obj/ClinicManagementSystem.API.csproj.nuget.g.targets
